@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@layer base {
    :root {
        --background: 177 1% 100%;
        --foreground: 177 52% 3.9%;

        --card: 177 3% 99%;
        --card-foreground: 177 52% 3.9%;

        --popover: 177 3% 99%;
        --popover-foreground: 177 52% 3.9%;

        --primary: 177 52% 46%;
        --primary-foreground: 177 52% 98%;

        --secondary: 255 92% 76%;
        --secondary-foreground: 255 92% 95%;

        --muted: 177 5% 96.1%;
        --muted-foreground: 177 10% 45.1%;

        --accent: 210 100% 43%;
        --accent-foreground: 210 100% 95%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 177 5% 90%;
        --input: 177 5% 90%;
        --ring: 177 52% 46%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 177 5% 3.9%;
        --foreground: 177 5% 98%;

        --card: 177 8% 4.9%;
        --card-foreground: 177 5% 98%;

        --popover: 177 8% 4.9%;
        --popover-foreground: 177 5% 98%;

        --muted: 177 5% 14.9%;
        --muted-foreground: 177 10% 63.9%;

        --border: 177 10% 14.9%;
        --input: 177 10% 14.9%;
    }
}