# Ignore generated documentation
.docs/swagger.*

# remove private environment files (specifically http file env files)
*.private.env.json
.config

# Ignore Kubernetes infrastructure files
.infra/

bin/
dist/
# Added by goreleaser init:
dist/
